*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.cardname{
    color: #B88E2F;
}
.buybtn{
    background-color: #B88E2F;
    color: #FFF3E3;
}
.parent{
    position: relative;
}
.myCard{
    position: absolute;
    bottom: 180px;
    right: 0;
    background-color: #FFF3E3;
    width: 600px;
    height: 343px;
}